<h1>Users#send_invite</h1>
<%= form_for @invite, :url => {:action => :send_invite, :invite => @invite} do |f| %>
	<div>
		Enviar convite
	</div>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td><%= f.label :name, "Nome" %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label :email, "Email" %></td>
			<td><%= f.text_field :email %></td>
		</tr>
	</table>
	
	<%= f.submit 'Enviar' %>
	
<% end %>
